<div class="scrollable">
	<div class="scrollable-content">
		<div class="list-group text-center">
			<!-- cục giới thiệu -->
			<div class="list-group-item list-group-item-home">
				<h1>ĐỒ ÁN ĐIỀU KHIỂN THIẾT BỊ QUA MẠNG KHÔNG DÂY - WebApp<small>1.0</small>
				</h1>
				<img src="http://imageshack.com/a/img924/1082/2OCbHF.png" ></img>
			</div>
			
			
			<div class="list-group-item list-group-item-home">
				<div ui-state="activeTab" default="1">
				  <ul class="nav nav-tabs">
					<li ui-class="{'active': activeTab == 1} ">
					  <a ui-set="{'activeTab': 1}">Các cảm biến</a>
					</li>
					<li ui-class="{'active': activeTab == 2}">
					  <a ui-set="{'activeTab': 2}">Điều khiển thiết bị</a>
					</li>
					<li ui-class="{'active': activeTab == 3}">
					  <a ui-set="{'activeTab': 3}">LCD và Servo</a>
					</li>
					<li ui-class="{'active': activeTab == 4}">
					  <a ui-set="{'activeTab': 4}">VIDEO</a>
					</li>
					<li ui-class="{'active': activeTab == 5}">
					  <a ui-set="{'activeTab': 5}">DEMO</a>
					</li>
				  </ul>
				
					<!--TAB 1 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
				  <div ui-if="activeTab == 1">
					<div class="list-group-item list-group-item-home">
					<div>
						<i class="fa fa-gamepad feature-icon text-primary"></i>
					</div>
					<div>
						<h3 class="home-heading">Cảm biến mưa</h3>
						<i class="fa fa-tint fa-3x"></i> <br>
						Kết quả: {{CamBienMua}}
					</div>
					
					<!--cập nhật giá trị cảm biến nhiệt độ và độ ẩm-->
					
					<div>
						<h3 class="home-heading">Cảm biến nhiệt độ và độ ẩm</h3>
						Kết quả: {{CamBienNhietDo}}
					</div>
					
					<!--cập nhật giá trị cảm biến không khí-->
					
					<div>
						<h3 class="home-heading">Cảm biến không khí</h3>
						<i class="fa fa-fire fa-3x"></i> <br>
						Kết quả: {{CamBienKhongKhi}}
					</div>
					
					
					<!--cập nhật giá trị cảm biến chuyển động-->
					
					<div>
						<h3 class="home-heading">Cảm biến chuyển động</h3>
						<i class="fa fa-male fa-3x"></i> <br>
						Kết quả: {{CamBienChuyenDong}}
					</div>
					
					<!--cập nhật giá trị cảm biến hồng ngoại-->
					
					<div>
						<h3 class="home-heading">Cảm biến hồng ngoại</h3>
						<i class="fa fa-unlock-alt fa-3x"></i> <br>
						Kết quả: {{CamBienHongNgoai}}
					</div>
					
					<!--cập nhật giá trị cảm biến chuyển động-->
					
					<div>
						<h3 class="home-heading">Cảm biến Laser</h3>
						<i class="fa fa-bell fa-3x"></i> <br>
						Kết quả: {{CamBienLaser}}
					</div>
					
					<!-- Cục cập nhập giá trị nút nhấn! ng -->
					
						
						<div>
							<h3 class="home-heading">TRẠNG THÁI mấy cái NÚT NHẤN</h3>
							<div ng-repeat="button_value in buttons  track by $index">
								Nút nhấn {{$index}} đang {{button_value ? "THẢ" : "GIỮ"}}
							</div>
						</div>
					</div>
					
					<!-- Cục cập nhập giá trị cảm biến -->
					
						
						<div>
							<h3 class="home-heading">Cập nhập cảm biến</h3>
							<button class="button" ng-click="updateSensor()">
								Nhấn vô dể cập nhập giá trị cảm biến
							</button>
						</div>
					
					
					</div>
				
					
					<!--TAB 2 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
				  <div ui-if="activeTab == 2">
						<div class="list-group-item list-group-item-scroll text-left"> 
						<!-- <a  
							 ui-turn-on="lightbulb"
							 ui-class="{'active': lightbulb}" 
							 class="btn btn-default" href>
							  Turn On
						  </a>
						  <a  
							 ui-turn-off="lightbulb"
							 ui-class="{'active': !lightbulb}"
							 class="btn btn-default" href>
							  Turn Off
						  </a>  -->
						<div ng-repeat="switch_value in switchs_status track by $index">
							<a ui-switch  ng-model="switchs_status[$index]"  ui-toggle="switchs_status[$index]" ui-class="{'active': lightbulb}" ng-true-value="1" ng-false-value="0" ng-change="changeSWITCH()"/ui-switch></a>
							Trạng thái đèn {{thietbi[$index]}} đang {{switch_value ? "Bật" : "Tắt"}}
							<i class="fa fa-lightbulb-o fa-2x"></i>
							<!-- <p ui-shared-state id="lightbulb"
							ui-class="{'text-primary': lightbulb}">
						  <i class="fa fa-lightbulb-o fa-2x"></i>
						</p>
						  <a  
							 ui-toggle="lightbulb"
							 ui-class="{'active': lightbulb}" >
							  Toggle
						  </a> -->
						</div>
						</div>
								
						
						
						
					</div>
			
			
					<!--TAB 3 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
				  <div ui-if="activeTab == 3">
					<div class="list-group-item list-group-item-home">
					<!-- Cục thay đổi chữ trên LCD-->
						<div class="list-group-item list-group-item-home">
							
							<div>
								<h3 class="home-heading">Cập nhập giá trị LCD </h3>
								<input type="text" class="input text" ng-model="lcd[0]" placeholder="Nhập tối đa 16 ký tự"/>
								<input type="text" class="input text" ng-model="lcd[1]" placeholder="Nhập tối đa 16 ký tự"/>
							</div>
							<div>
								<button class="button" ng-click="updateLCD()">
									OK
								</button>
							</div>
						</div>
						
						<!-- Cục cập nhập giá trị servo -->
						<div class="list-group-item list-group-item-home">
							
							<div>
								<i class="fa fa-cog fa-spin fa-3x fa-fw" aria-hidden="true"></i>
								<h3 class="home-heading">Cập nhập giá trị servo (cửa)</h3>
								<input type="text" class="input text" ng-model="servoPosition1" placeholder="Giá trị từ 0 --> 180"/>
							</div>
							<div>
								<button class="button" ng-click="updateServo1(servoPosition1)">
									OK
								</button>
							</div>
						</div>
						
						<div class="list-group-item list-group-item-home">
							
							<div>
							<div>
								<i class="fa fa-cog fa-spin fa-3x fa-fw" aria-hidden="true"></i>
								<h3 class="home-heading">Cập nhập giá trị servo (sào phơi)</h3>
								<input type="text" class="input text" ng-model="servoPosition2" placeholder="Giá trị từ 0 --> 180"/>
							</div>
							<div>
								<button class="button" ng-click="updateServo2(servoPosition2)">
									OK
								</button>
							</div>
						</div>
						</div>
						</div>
				</div>
					<!--TAB 4 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
				  <div ui-if="activeTab == 4">
					<div class="list-group-item list-group-item-home">
					<iframe width="854" height="480" src="https://www.youtube.com/embed/k4fyUEZskcw">
					</iframe>
					
					</div>
				</div>
				
				<!--TAB 5 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
				<div ui-if="activeTab == 5">
					<div class="list-group-item list-group-item-home">
					 <div class="scrollable-content section">
					   
					  <form role="form" ng-submit='login()'>
						<fieldset>
						  <legend>Login</legend>
							<div class="form-group has-success has-feedback">
							  <label>Email</label>
							  <input type="email"
									 ng-model="email"
									 class="form-control"
									 placeholder="Enter email">
							</div>

							<div class="form-group">
							  <label>Password</label>
							  <input type="password" 
									 class="form-control"
									 placeholder="Password">
							</div>

							<div class="form-group">
							 <a ui-switch 
								ng-model="re" /ui-switch
							ui-toggle="re"
							 ui-class="{'active': re}" ></a>{{re ? "ok"  : "nnooo"}}
							
						  
						  </div>
						</p>
						</fieldset>
						<hr>

						<button class="btn btn-primary btn-block">
						  Login
						</button>

						<div ui-content-for="navbarAction">
						  <a class="btn" ng-click="login()">Login</a>
						</div>

					  </form>
					 </div>
					</div>
					<i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
					<span class="sr-only">Loading...</span>
					
					  <div class="container-fluid">

						<p ui-shared-state id="lightbulb"
							ui-class="{'text-primary': lightbulb}" 
							   class="text-default">

						  <i class="fa fa-lightbulb-o fa-5x"></i>
						</p>

						<div class="btn-group justified nav-tabs">
						  <a  
							 ui-toggle="lightbulb"
							 ui-class="{'active': lightbulb}" 
							 class="btn btn-default" href>
							  Toggle
						  </a>
						  <a  
							 ui-turn-on="lightbulb"
							 ui-class="{'active': lightbulb}" 
							 class="btn btn-default" href>
							  Turn On
						  </a>
						  <a  
							 ui-turn-off="lightbulb"
							 ui-class="{'active': !lightbulb}"
							 ng-click="change_Switch1()"
							 class="btn btn-default" href>
							  Turn Off
						  </a>       
						</div>
						
						<div>
						<i class="fa fa-cog fa-spin fa-3x fa-fw" aria-hidden="true"></i>
						<span class="sr-only">Saving. Hang tight!</span>
						</div>
						
	
	
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
					
			</div>
			
			
			
		</div>
	</div>
</div>